body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: rgba(255,255,255,0.5);
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 400;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #25BAD0;
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 10px;
}

h3,h4 {
	line-height: 20px;
	margin: 0;
	color: #002f87;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 10px;
}
/*
h3, h4 {
	color: #333;
	font-size: 20px;
	font-weight: 400;
}*/
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #fff;
}
a:hover, a:focus {
	text-decoration: none;
	color: #25BAD0;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#menu {
	padding: 40px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 20px;
	color: rgba(255,255,255,0.8);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: rgba(255,255,255,0.8);
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #0D3071;
}
.on {
	background-color: #4668A5 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #0D3071 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #25BAD0;
	border-color: #25BAD0;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.btn-default {
	color: #3171E7;
	background-color: transparent;
	border: 2px solid #3171E7;
	padding: 12px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #051540;
	background-color: #6495ED;
	border-color: #6495ED;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	padding: 120px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.6+100 */
	background: -moz-linear-gradient(top, rgba(100,149,237,1) 0%, rgba(100,149,237,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(100,149,237,1) 0%, rgba(100,149,237,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(100,149,237,1) 0%, rgba(100,149,237,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#99053740', GradientType=0 ); /* IE6-9 */
}
.section-title {
	padding: 25px 0 60px 0;
}
.intro H1 {
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255,255,255,0.9);
}
.intro .brand {
	color: #CD3278;
	font-weight: 700;
}
.intro .intro-text p {
	font-size: 18px;
	margin-bottom: 40px;
	margin-top: 20px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
}
header .intro-text {
	padding-top: 150px;
	padding-bottom: 150px;
}
/* Services Section */
#services {

	/*display: table;*/
/*	width: 100%;
	height: 100%
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;*/


	padding: 200px 0;
	color: #fff;
	/*background: url(../img/intro-bg.jpg) no-repeat center center;*/
	/*background: linear-gradient(to bottom, rgba(100,149,237,1) 100%, rgba(100,149,237,0) 0%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ ;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.6+100 */
	background: -moz-linear-gradient(top, rgba(100,149,237,1) 50%, rgba(100,149,237,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(100,149,237,1) 50%, rgba(100,149,237,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(100,149,237,1) 70%, rgba(100,149,237,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/*
#services h4 {
	color: #CD3278;
	text-transform: uppercase;
}
*/
#services h2 {
	color: #CD3278;
	text-transform: uppercase;
}

#services h3 {
	color: rgb(255,255,255);
	text-transform: uppercase;
}

#services p {
	color: rgba(255,255,255);
/*	text-transform: uppercase;
*/
}

#services i.fa {
	font-size: 32px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #CD3278;
	width: 100px;
	height: 100px;
	padding: 33px 0;
	border: 1px solid rgba(100,149,237,1);
	background: rgba(255,255,255,1);
	border-radius: 50%;
}


/* Contact Section */
#contact {
	background: url(../img/intro-bg.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#contact .overlay {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.6+100 */
	background: -moz-linear-gradient(top, rgba(100,149,237,1) 0%, rgba(100,149,237,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(100,149,237,1) 0%, rgba(100,149,237,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(100,149,237,1) 0%, rgba(100,149,237,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#99053740', GradientType=0 ); /* IE6-9 */
}
/*
#contact .overlay {
	padding: 100px 0 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.75+100 */


/*#contact h2 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}*/

#contact h1 {
	color: #CD3278;
	text-transform: uppercase;
}

#contact form {
	padding: 20px 0;
}

#contact .text-danger {
	color: #ff6600;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 60px 20px;
	margin: 10px 20px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #3171E7;
	background-color: rgba(255,255,255,0.6);
	background-image: none;
	border: 2;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #ccc;
}
.form-control:-moz-placeholder {
color: #ccc;
}
.form-control::-moz-placeholder {
color: #ccc;
}
.form-control:-ms-input-placeholder {
color: #ccc;
}
#contact .btn {
	margin-top: 20px;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #25BAD0;
}


/* Media Queries */
@media (max-width: 1024px) {
.intro H1 {
	font-size: 42px;
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 100px;
}
#about img {
	margin-bottom: 20px;
}
}



#result {
	background-color: white;
	color: black;
}

#result h1 {
	padding: 20px 20px;
}

.loc {
	background-color: red; 
}

.org {
	background-color: blue; 
}
.per {
	background-color: green; 
}